.suggestions-wrapper {
  .suggestion-item-main {
    display: flex;
    align-items: center;
  }

  .suggestion-item {
    border: 1px solid white;
    margin: 15px 25px;
    flex: 1;
    padding: 6px;
    font-size: 12px;
    padding-bottom: 9px;
    padding-top: 10px;
    position: relative;

    img {
      width: 46px;
      height: 32px;
    }

    span.recommended {
      position: absolute;
      top: 6px;
      left: 6px;
    }

    span.name {
      margin-left: 5px;
      flex: 1;
      font-size: 15px;
    }

    .extra-info {
      display: flex;
      text-align: right;
      flex-direction: column;
      justify-content: center;

      span {
        display: block; 
        padding: 3px 0;
      }
    }
  }
  .selection {
    display: flex;
    flex-direction: column;

    button, a {
      margin: 32px 8px;
      font-size: 16px;
      background: none;
      padding: 16px;
      border: 1px solid white;
      border-radius: 32px;
      text-align: center;
      text-decoration: none;
    }
  }
}
