.injury-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;

  .injury-button {
    flex: 0 0 calc(100% / 3);

    & > div {
      padding: 10px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #FFEBD8;
      border-radius: 17px;
      margin: 10px;

      img {
        width: 50px;
        height: 50px; 
        margin: auto;
      }

      span {
        margin-top: 10px; 
        color: black;
        font-size: 11px;
        font-weight: light;
        text-align: center;
      }
    }
  }
}

.help {
  width: 262px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid white;
  font-size: 18px;
  text-align: center;
  padding: 40px 22px;

  ol {
    margin-top: 40px;
    text-align: left;
    margin-left: 5px;
    li {
      margin: 10px 0;
    }
  }
}
