body {
  margin: 0;
}
* {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: white;
}

#root {
  height: 100vh;
}

.text-center {
  text-align: center;
}

@keyframes slideIn {
  0%   { left: 100%; }
  100% { left: 0%; }
}

@keyframes slideOut {
  0% { right: 0 }
  100%   { right: 100%; }
}

.slideIn {
  position: relative;

  animation: slideIn 0.5s;
  animation-iteration-count: 1;
}

.slideOut {
  position: relative;

  animation: slideOut 0.5s;
  animation-iteration-count: 1;
}

.footer {
  margin: 16px 0;
  font-size: 18px;
}
