@import "~material-design-icons/iconfont/material-icons.css";

body {
  margin: 0;
}
* {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: white;
}

#root {
  height: 100vh;
}

.text-center {
  text-align: center;
}

@keyframes slideRight {
  0%   { left: 100%; }
  100% { left: 0%; }
}

@keyframes slideLeft {
  0% { right: 0 }
  100%   { right: 100%; }
}

.slideRight {
  position: relative;

  animation: slideRight 0.5s;
  animation-iteration-count: 1;
}

.slideLeft {
  position: relative;

  animation: slideLeft 0.5s;
  animation-iteration-count: 1;
}

.footer {
  margin: 16px 0;
  font-size: 18px;
}
